.container {
  flex: 1;
  display: flex;
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  flex-direction: column;
  border: 1px rgba(255, 255, 255, 0.1) solid;
}

.container .title {
  display: flex;
  font-size: 14px;
  color: #1f6feb;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
}

.container .title h1:last-child {
  color: initial;
  font-size: 12px;
  padding: 1px 8px;
  border-radius: 16px;
  text-transform: capitalize;
  border: 1px rgba(255, 255, 255, 0.1) solid;
}

.container > p {
  font-size: 12px;
  margin: 16px 0px;
  padding-right: 10%;
  line-height: normal;
}

.container .bottom,
.container .bottom div {
  gap: 16px;
  display: flex;
  font-size: 12px;
  align-items: center;
}

.container .bottom {
  flex: 1;
  display: flex;
  min-height: 30px;
  align-items: end;
}

.container .bottom div {
  gap: 4px;
}

.container .bottom div span {
  padding: 4px;
  display: flex;
  margin-top: 3px;
  border-radius: 50%;
  background-color: #1f6feb;
  border: 1px rgba(255, 255, 255, 0.5) solid;
}
